*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #001a33;
    position: relative;
}
.clock{
     display: flex;
     justify-content: center;
     text-align: center;
     height: 450px;
     width: 450px;
     background-color: #204060;
     border-radius: 50%;
     border: solid 30px #336699;
     box-shadow: inset 0 0 30px rgba(224, 10, 10, 0.1),
     0 20px 20px rgba(180, 7, 7, 0.2),
     0 0 0 4 px rgb(240, 15, 15);
}
.clock::before{
    content: '';
    position: absolute ;
    width: 15px;
    height: 15px;
    background: #79a6d2;    
    border: 2px solid #336699;
    border-radius: 50%;
    top: 50%;

}
.container-clock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
    background: red;
    /* width: 3px; */

}