@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Dongle', sans-serif;
  font-size: 40px;
  background-color: #661aff;
}
#main .clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 6rem;
  font-family: 'Courier New', Courier, monospace;
}
#main .clock .timetext {
  display: none;
}
#main .clock .gettime {
  font-size: 6rem;
}
#main .clock .date {
  font-size: 2rem;
  margin-left: 2rem;
  color: white;
}
.navbar {
  background-color: #884dff;
  color: #fff;
  margin: 2px, 10px;
  height: 60px;
}
.container {
  /* max-width: 1100px; */
  margin: 0 auto;
  padding: 0 30px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav li {
  list-style: none;
}
a,
.nav li a {
  text-decoration: none;
  color: #fff;
}
.navbar .logo {
  font-size: 50px;
  font-weight: bold;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar ul li {
  margin-left: 20px;
}
.navbar a:hover {
  color: #3b00b3;
  text-decoration: underline;
}
h1.gettime:hover {
  transform: scale(1.2);
}

h1.gettime {
  transition: all 0.5s ease-in-out;
}
