* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: linear-gradient(
    to right top,
    #f2048b,
    #db0c9c,
    #bf20aa,
    #9d2fb5,
    #733abd,
    #5b38b8,
    #3e36b3,
    #0934ad,
    #0c289f,
    #0d1c90,
    #0c0f82,
    #0a0074
  );
  background-attachment: fixed;
}
.clock {
  color: #0c010e;
  margin: 100px;
  text-align: center;
  font-family: cursive;
  font-size: 50px;
}
.header {
  font-family: monospace;
  margin: 10px;
  font-size: 20px;
}
.header {
  display: inline-block;
  margin: 0px;
}
#bton {
  font-family: monospace;
  font-size: 3px;
}
